/*
   * Globals
   */

/* Blur overlay effect for better text readability */
body::before {
  /*
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    */
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
   * Base structure
   */
html,
body {
  height: 100%;
}

.slideshow {
  /*
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  */
  animation: slideshow 15s ease-in-out infinite;
  /*
    background: url(../img/bg1.webp) no-repeat center center fixed;
    */
}

@keyframes slideshow {
  0% {
    /*background: url(../img/bg1.webp) rgba(255, 255, 255, 0.6);*/
    background: url(../img/bg1_HD.webp) no-repeat rgba(255, 255, 255, 0.7);
    background-size: cover;
  }

  33% {
    /*background: url(../img/bg2.webp) rgba(255, 255, 255, 0.6);*/
    background: url(../img/bg2_HD.webp) no-repeat rgba(255, 255, 255, 0.7);
    background-size: cover;
  }

  66% {
    /*background: url(../img/bg3.webp) rgba(255, 255, 255, 0.6);*/
    background: url(../img/bg3_HD.webp) no-repeat rgba(255, 255, 255, 0.7);
    background-size: cover;
  }

  100% {
    /*background: url(../img/bg4.webp) rgba(255, 255, 255, 0.6);*/
    background: url(../img/bg4_HD.webp) no-repeat rgba(255, 255, 255, 0.7);
    background-size: cover;
  }
}


body {
  color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 30px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: rgba(48, 53, 70, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
   * Header
   */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
   * Cover
   */
.cover {
  padding: 0 40px;
}


.cover-heading {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.8rem;
  /*font-size: 2rem;*/
  /*margin-bottom: 3rem;*/
}

.intro-heading {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
}

.overlay {
  position: fixed;
  display: block;
  height: 95%;
  top: 3%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (min-width: 768px) {
  .cover-heading {
    /*font-size: 3.4rem;*/
    font-size: 3rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 645px;
  /*margin: 0 auto 13rem;*/
  margin: 0 auto 1rem;
  letter-spacing: 1px;
}

/*
   * Footer
   */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}


/*
   * Affix and center
   */
@media (min-width: 768px) {

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {

  .masthead,
  .mastfoot,
  .cover-container {
    width: 1060px;
  }
}

@media (min-width: 350px) {

  .inner {
    padding: 5px;
  }

  .h3, h3 {
    font-size: 1rem;
  }

}